@charset "utf-8";

body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  background: hsl(30, 40%, 95%);
  color: hsl(30, 35%,55%);
}

h1 {
  text-align: center;
}

input {
  margin-left: 5px;
}

.container {
  width: 500px;
  margin: 0 auto
}

.box {
  margin-bottom: 10px;
}

.btn {
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: hsl(90, 50%, 50%);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
